[Desktop Entry]
Type=Application
Name=Zephyr
GenericName=SDKMAN Desktop
Comment=Manage SDKMAN toolchains from a desktop application
Exec=zephyr
Icon=com.worxbend.zephyr
Terminal=false
Categories=Development;
Keywords=SDKMAN;Java;JDK;Kotlin;toolchain;
StartupNotify=true
StartupWMClass=com-worxbend-zephyr-MainKt
